extends layout
block content
  h1 Genre: #{genre.name}
  div(style='margin-left:20px;margin-top:20px')
    h4 Posts
    dl
    each post in genre_posts
      dt 
        a(href=post.url) #{post.title}
      dd #{post.summary}
    else
      p This genre has no posts.
  hr
  p
    a(href=genre.url+'/delete') Delete genre
  p
    a(href=genre.url+'/update') Update genre