extends layout
block content
  h1= title
  p #[strong Do you really want to delete this PostInstance?]
  div(style="margin-left:20px")
    p #[strong ID]: #{postinstance._id}
    p #[strong Title:] 
      a(href=postinstance.post.url) #{postinstance.post.title}
    p #[strong Imprint:] #{postinstance.imprint}
    p #[strong Status:] 
      if postinstance.status=='Available'
        span.text-success #{postinstance.status}
      else if postinstance.status=='Maintenance'
        span.text-danger #{postinstance.status}
      else
        span.text-warning #{postinstance.status} 
    if postinstance.status!='Available'
      p #[strong Due back:] #{postinstance.due_back_formatted}
  form(method='POST' action='')
    div.form-group
      input#id.form-control(type='hidden',name='id', required='true', value=postinstance._id )
    button.btn.btn-primary(type='submit') Delete